.weather-search {
  display: flex;
  margin-bottom: 20px;
}

.weather-search input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.weather-search button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: 2px solid #000000;
}

.weather-search button:hover {
  background-color: #0056b3;
}

.error-message {
  color: rgb(255, 0, 0);
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid #000000;
  padding: 10px;
  background-color: #ffffff;
}
