.weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.weather-app form {
  display: flex;
  margin-bottom: 20px;
}

.weather-app input {
  flex-grow: 1;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(83, 255, 108) rgb(0, 221, 255) rgb(72, 72, 255)
    rgb(255, 0, 242);
  outline: none;
}

.weather-app button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}

.weather-app button:hover {
  background-color: #0056b3;
}
