.weather-card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px 30px;
  margin: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.442);
  width: 100%;
  max-width: 400px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(83, 255, 108) rgb(0, 221, 255) rgb(72, 72, 255)
    rgb(255, 0, 242);
}

.weather-card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 700;
}

.weather-card p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.weather-card p:last-child {
  margin-bottom: 0;
}

.weather-app header {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  margin-bottom: 40px;
  box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.572);
  background: linear-gradient(
    90deg,
    rgba(206, 174, 238, 0.516) 0%,
    rgba(174, 217, 235, 0.491) 52%,
    rgba(148, 233, 223, 0.5) 98%
  );
}

.weather-app h1 {
  font-size: 3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.585);
  color: #ffffff;
  font-weight: 800;
  margin: 0;
}
